[Desktop Entry]
Encoding=UTF-8
Name=Minotaur Charts
Comment=A KDE Plasma 5 Plasmoid for monitoring and charting cryptocurrency exchange rates on various exchanges. This is a fork of Jan Keith Darunday Minotaur plasmoid.
Type=Service

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=lainwir3d
X-KDE-PluginInfo-Email=me@lainwir3d.net
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Name=net.lainwir3d.minotaur-charts
X-KDE-PluginInfo-Version=0.2.1
X-KDE-PluginInfo-Website=https://github.com/lainwir3d/minotaur-plasmoid
X-KDE-PluginInfo-Category=Online Services

X-KDE-ServiceTypes=Plasma/Applet
